@import "tailwindcss";

/* @layer base;
@layer components;
@layer utilities; */ /* Design tokens */

@theme {
  --color-surface: oklch(98.5% 0.002 247.839);
  --color-border: oklch(92.8% 0.006 264.531);
  --color-text: oklch(21% 0.034 264.665);
  --color-muted: oklch(55.1% 0.027 264.364);
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-primaryHover: oklch(48.8% 0.243 264.376);
  --color-danger: oklch(63.7% 0.237 25.331);
  --color-dangerHover: oklch(57.7% 0.245 27.325);
  --color-rowHover: oklch(96.7% 0.003 264.542);
  --color-rowSelected: oklch(97% 0.014 254.604);
}

/* Base styles */

@layer base {
  body {
    @apply bg-white text-text text-base w-4/5 m-auto;
  }

  h1 {
    @apply text-3xl font-medium mt-12 mb-4;
  }

  label {
    @apply text-base font-medium text-muted capitalize;
  }

  table {
    @apply w-full border-collapse mb-5 relative;
  }

  th {
    @apply text-left text-muted  border-b px-3 py-3 bg-surface border-border font-medium;
  }

  td {
    @apply text-text border-b px-3 py-3 border-surface capitalize;
  }

  tbody tr:hover {
    @apply bg-rowHover;
  }

  input,
  select {
    @apply border border-border rounded-md px-2 py-1.5
           bg-white text-sm
           focus:outline-none focus:ring-2 focus:ring-primary/30 capitalize;
  }
}

/* Component Tokens (@layer components) */

@layer components {
  .btn-add {
    @apply bg-primary text-white hover:bg-primaryHover px-6 py-2 rounded-lg font-semibold text-sm shadow-lg cursor-pointer disabled:bg-primary/70 capitalize;
  }

  .btn_edit {
    @apply bg-primary/10 text-primary hover:bg-primary/20 border border-primary/30 px-4 py-1 rounded-md text-sm font-medium cursor-pointer capitalize;
  }

  .btn_delete {
    @apply bg-danger text-white hover:bg-dangerHover px-4 py-1 rounded-md text-sm font-medium  shadow-sm cursor-pointer capitalize;
  }

  .btn_save,
  .btn_confirm {
    @apply bg-primary text-white hover:bg-primaryHover px-4 py-1 rounded-md text-sm font-medium  shadow-sm cursor-pointer capitalize;
  }

  .btn_cancel,
  .btn_pagination {
    @apply bg-transparent text-muted hover:bg-muted/10 border border-muted/30 hover:border-muted px-4 py-1 rounded-md text-sm font-medium cursor-pointer capitalize;
  }

  .selection-bar {
    @apply text-base text-green-400 flex items-center;
  }

  .expense-selected {
    @apply bg-rowSelected;
  }

  .add-overlay {
    @apply absolute top-0 left-0 w-full h-16 z-10;
  }
}

